.banner {
    display: block;
    padding: 5px;
    margin: 0;
    width: 100vw;
    height: 80vh;
    position: relative;
    max-height: 500px; /* added */
}

.bannerText {
    position: relative;
    top: 100px;
    z-index: 20;
    text-align: center;
}